html {
    background-color: var(--beige);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.title {
    text-align: center;
}

.main {
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 5px;
    width: 50%;
    margin: auto;
}

.li-text{
    display: inline;
}

.edit-input {
    text-align: center;
}

.li-form > * {
    border-radius: 8px;
}

.li-form > button {
    cursor: grab;
}

.li-form > button:hover {
    background-color: var(--salmon);
}

#add-btn {
    display: block;
    margin: auto;
    cursor: grab;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

:root {
    --salmon: rgb(231, 139, 139);
    --beige: rgb(250, 250, 214);
}

#add-btn:hover {
    background-color: var(--salmon);
    transition: 0.7 s;
    
}

#input {
    width: 95%;
    cursor: grab;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid var(--salmon);
    border-radius: 15px;
    box-sizing: border-box;
}

#add {
    text-align: center;
}

.label {
    margin-left: 5px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    margin-left: 15%;
}

#list div {
    margin-bottom: 10px;
    text-align: center;
}

hr {
    border: 1px solid black;
}