* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

:root {
    --green-bar: #18444c;
    --text-color: rgb(97, 97, 100);
    --bamboo: #c1d9cc;
    --deeper-bamboo: #b2d0c1;
    --link-color: rgb(49, 153, 162);
    --intro-opaque-white: rgba(255, 255, 255, 0.083);
    --slightly-lighter-intro-opaque-white: rgba(246, 246, 246, 0.089);
    --primary-footer-text: rgba(190, 188, 188, 0.768);
    --author-background: #e9ecea;
    --author-text: rgb(86, 116, 86);
    --barrier: rgb(183, 180, 180);
    --barrier-light: rgb(212, 209, 209);
}

body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: verdeModerna;
    src: url("resources/verdemoderna.woff")
}

@font-face {
    font-family: julius;
    src: url("resources/juliussansone-regular-webfont.woff");
}

@font-face {
    font-family: libreBaskerville;
    src: url("resources/librebaskerville-regular-webfont.woff");
}

@font-face {
    font-family: libreBaskervilleItalic;
    src: url("resources/librebaskerville-italic-webfont.woff");
}

@font-face {
    font-family: libreBaskervilleBold;
    src: url("resources/librebaskerville-bold-webfont.woff");
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "top-b"
    "title-c"
    "title-c"
    "pt"
    "st"
    "tt"
    "footer-c"
    "footer-c"
    "a"
    "l";
}


.header-below {
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 1;
    font-family: julius;
}

.header {
    font-size: 20px;
    font-family: julius;
}

.author-header {
    font-size: 20px;
    margin-bottom: 8px;
    font-family: julius;
    color: var(--author-text);
}

.author-header:hover {
    cursor: pointer;
}

.author-grammar {
    color: #b6beb9;
    font-family: libreBaskervilleItalic;
}

.author-name {
    font-size: 14px;
    font-family: libreBaskerville;
    color: #4d5e53;
}

.author-name:hover {
    cursor: pointer;
}

.paragraph-bottom {
    margin-top: 9px;
}

.main-block {
    height: 100%;
}

#top-bar {
    grid-area: top-b;
    height: 12px;
    background-color: var(--green-bar);
}

#primary-footer-text {
    font-family: libreBaskervilleItalic;
    color: var(--primary-footer-text);
    padding-top: 25px;
    text-align: center;
    font-style: italic;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.3px;
    transform: scale(1.03, 1);
    font-size: 27px;
    line-height: 1.68;
}

.lighter-footer-text {
    color: rgba(255, 255, 255, 0.681);
    font-style: normal;
    font-family: libreBaskerville;
}

#title-container {
    grid-area: title-c;
    background-image: url("resources/gridlines.png"), url("resources/contours-opaque.png"), url("resources/huntington.jpg");
    background-attachment: fixed, fixed, scroll;
    background-position: center;
    background-size: auto, auto, cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titlei"
        "titlel";

}

#enso-img {
    transform: scale(0.215);
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: -95px;
    margin-top: -140px;
    opacity: 60%;
}

#title {
    font-family: julius;
    font-size: 2.24em;
    color: white;
}

#slogan {
    font-family: 'sans-serif';
    font-size: 1.6em;
    color: white;
    font-style: italic;
    margin-top: 10px;
    opacity: 60%;
}

#title-text-container {
    height: 70px;
    text-align: center;
}


#title-items {
    grid-area: titlei;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 213px;
}

#title-items > * {
    display: inline-block;
}

#title-link-container {
    grid-area: titlel;
    background-color: var(--intro-opaque-white);
    height: 87px;
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-areas:
        ". tlt wrc";
}

#title-link-text-container {
    grid-area: tlt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-link-text-container:hover, #wrc-container:hover {
    background-color: var(--slightly-lighter-intro-opaque-white);
    transition: background-color 0.3s ease-out 0s;
    cursor: pointer;
}

#title-link-text-container:hover > div, #wrc-container:hover > img {
    transition: opacity 0.1s ease-out 0s;
    opacity: 100%;
}

#title-link-text {
    font-family: julius;
    color: white;
    font-size: 1.18em;
    opacity: 75%;
}

#wrc-container {
    grid-area: wrc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#white-right-clip {
    width: 40px;
    height: 40px;
    object-fit: cover;
    opacity: 60%;
}

.text-section {
    color: var(--text-color);
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 0.3px;
    font-size: 21px;
    line-height: 1.68;
}

#primary-text {
    background-color: white;
    grid-area: pt;
    width: 100%;
    max-width: 100%;
}

.dotted {
    text-decoration: underline dotted !important;
}

.dotted-link{
    font-family: julius;
}

a, a:visited, a:link {
    color: var(--link-color);
    text-decoration: none;
}

#secondary-text {
    grid-area: st;
    background-image: url("resources/gridlines.png"), url("resources/contours-opaque.png"), url("resources/bamboo.png");
    background-attachment: scroll, scroll, fixed;
    background-position: center;
    background-size: auto, auto, cover;
    background-color:var(--bamboo);
    width: 100%;
}

#tertiary-text {
    grid-area: tt;
    background-color: white;
}

#footer-container {
    grid-area: footer-c;
}

#primary-footer {
    grid-area: pft;
    background-image: url("resources/gridlines.png"), url("resources/contours-opaque.png"), url("resources/koi.jpg");
    background-attachment: fixed, fixed, scroll;
    background-position: center;
    background-size: auto, auto, cover;
    padding: 20px;
}

#secondary-footer {
    grid-area: sft;
    background-color: var(--green-bar);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#icon-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 700px;
}

#icon-box > * {
    font-family: verdeModerna;
    color: var(--primary-footer-text);
    font-size: 50px;
}

.icon {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 70px;
}

.icon:hover {
    cursor: pointer;
    filter: invert(0.5);
}

#blank-space {
    display: none;
}

#authors {
    background-color: var(--author-background);
    grid-area: a;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 104px 83px 83px 104px;
    grid-template-areas:
        "lohman mall"
        "knoeller walton"
        "stocks carlson"
        "meltmedia shea";
}

#lohman {
    grid-area: lohman;
}

#mall {
    grid-area: mall;
}

#knoeller {
    grid-area: knoeller;
    border-top: 1px solid var(--barrier-light);
}

#walton {
    border-top: 1px solid var(--barrier-light);
    grid-area: walton;
}

#stocks {
    border-top: 1px solid var(--barrier-light);
    grid-area: stocks;
}

#carlson {
    border-top: 1px solid var(--barrier-light);
    grid-area: carlson;
}

#meltmedia {
    border-top: 1px solid var(--barrier-light);
    grid-area: meltmedia;
}

#shea {
    border-top: 1px solid var(--barrier-light);
    grid-area: shea;
}

.author, .link {
    padding-left: 10%;
    padding-top: 20px;
    max-height: 80px;
    padding-right: 30px;
}

#links {
    grid-area: l;
    background-color:var(--bamboo);
    background-image: url("resources/gridlines.png"), url("resources/contours-opaque.png"), url("resources/bamboo.png");
    background-attachment: fixed, fixed, scroll;
    background-position: center;
    background-size: auto, auto, cover;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 65px 65px;
    grid-template-areas:
        "view-design resources"
        "faq submit"
        "translations .";
}

#view-design {
    grid-area: view-design;
}

#css-resources {
    grid-area: resources;
}

#faq {
    border-top: 1px solid var(--barrier);
    grid-area: faq;
    border-bottom: 1px solid var(--barrier);
}

#submit-design {
    border-top: 1px solid var(--barrier);
    grid-area: submit;
    border-bottom: 1px solid var(--barrier);
}

.example-downloads {
    font-family: julius;
    color:rgb(127, 184, 127);
    font-size: 0.8em;
}

#downloads {
    display: none;
}

.download-icon {
    font-family: verdeModerna;
    color: rgb(142, 175, 142);
}

#translations {
    grid-area: translations;
}



@media only screen and (min-width: 625px) {
    #title-items {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 188px;
    }
    
    #enso-img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-bottom: -95px;
        margin-top: -110px;
        margin-left: -150px;
        opacity: 60%;
    }

    #title {
        margin-left: 15px;
    }

    #title-text-container {
        height: 70px;
        text-align: center;
        margin-left: -95px;
    }

    #icon-box > * {
        font-size: 63px;
    }

    #icon-box {
        height: 120px;
        max-width: 700px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .icon {
        text-align: center;
        line-height: 70px;
        height: 70px;
        width: 120px;
    }

    #links {
        grid-template-rows: 100px 80px 80px;
    }

    .author, .link {
        padding-left: 20%;
        padding-top: 25px;
        margin-bottom: 10px;
        max-height: 90px;
        padding-right: 30px;
    }

    #authors {
        grid-template-rows: 108px 87px 87px 108px;
    }
}

@media only screen and (min-width: 750px) {
    #downloads {
        display: block;
        margin-top: 15px;
    }
    .header-below {
        margin-top: 43px;
        margin-bottom: 10px;
    }

    #enso-img {
        transform: scale(0.33);
        margin-bottom: -95px;
        margin-top: -140px;
        margin-left: -70px;
        opacity: 60%;
    }
    
    #title {
        font-family: julius;
        font-size: 2.8em;
        color: white;
        margin-left: 30px;
    }
    
    #slogan {
        font-family: 'sans-serif';
        font-size: 1.6em;
        color: white;
        font-style: italic;
        margin-top: 10px;
        margin-left: -10px;
        opacity: 60%;
    }
}

/*

*/

@media (min-width: 1400px){
    body {
        overflow-x: hidden;
    }

    #container {
        grid-template-columns: 2fr 0.99fr;
        grid-template-areas: 
            "top-b top-b"
            "title-c title-c"
            "pt a"
            "st l"
            "tt b-s"
            "footer-c footer-c"
            "footer-c footer-c";
    }

    #title-container {
        height: 378px;
        align-items: center;
        grid-template-columns: 2fr 0.99fr;
        grid-template-rows: 400px;
        grid-template-areas:
            "titlei titlel";
    
    }

    #enso-img {
        transform: scale(0.54);
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-bottom: -95px;
        margin-top: -110px;
        margin-left: 80px;
        opacity: 100%;
    }

    #title {
        font-family: julius;
        font-size: 4em;
        color: white;
        margin-top: -45px;
        margin-left: 60px;
        margin-right: -40px;
    }

    #slogan {
        font-family: 'sans-serif';
        font-size: 2.2em;
        color: white;
        font-style: italic;
        margin-top: 10px;
        margin-left: -90px;
        opacity: 60%;
    }

    #title-text-container {
        height: 70px;
        text-align: center;
    }
    
    
    #title-items {
        flex-direction: row;
        justify-content: left;
        height: 378px;
    }
    
    #title-items > * {
        display: inline-block;
    }

    #title-link-container {
        grid-area: titlel;
        width: 80%;
        background-color: var(--intro-opaque-white);
        height: 87px;
        margin-top: 140px;
        margin-left: 18%;
        display: grid;
        grid-template-columns: 80px auto 80px;
        grid-template-areas:
            "tlt tlt wrc";
    }
        #title-link-text {
        font-family: julius;
        color: white;
        font-size: 1.5em;
        opacity: 75%;
    }
        #wrc-container{
        border-left: 1px solid rgb(52, 52, 52);
    }

    .author, .link {
        padding-left: 20%;
        padding-top: 25px;
        margin-bottom: 10px;
        max-height: 90px;
        padding-right: 20px;
    }

    #blank-space {
        grid-area: b-s;
        display: block;
        background-color: var(--author-background);
    }

    .text-section {
        padding-top: 80px;
        padding-bottom:80px;
        padding-left: 140px;
        padding-right: 140px;
        letter-spacing: 0.3px;
        font-size: 25px;
        line-height: 1.68;
    }

    .header-below {
        margin-top: 43px;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .header {
        font-size: 1.5em;
    }

    #primary-footer-text {
        font-family: libreBaskervilleItalic;
        color: var(--primary-footer-text);
        padding-top: 120px;
        text-align: center;
        font-style: italic;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 0.3px;
        transform: scale(1.03, 1);
        font-size: 42px;
        line-height: 1.68;
    }
    
    .lighter-footer-text {
        color: rgba(255, 255, 255, 0.681);
        font-style: normal;
        font-family: libreBaskerville;
    }

    #icon-box > * {
        font-size: 92px;
    }

    #icon-box {
        height: 120px;
        max-width: 1600px;
        padding-top: 50px;
        padding-bottom: 130px;
    }
    
    .icon {
        text-align: center;
        line-height: 70px;
        height: 70px;
        width: 220px;
    }

    #links {
        grid-area: l;
        background-color:var(--deeper-bamboo);
        background-image: url("resources/gridlines.png"), url("resources/contours-opaque.png"), url("resources/bamboo.png");
        background-attachment: scroll, scroll, fixed;
        background-position: center;
        background-size: auto, auto, cover;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 120px);
        grid-template-areas:
            "view-design"
            "resources"
            "faq"
            "submit"
            "translations";
    }

    #title-link-container-container {
        height: 100%;
        width: 100%;
        background-color: rgba(63, 96, 107, 0.343);
    }

    .link {
        margin-top: 100px;
        padding-top: 50px;
    }

    #view-design {
        border-top: 1px solid var(--barrier);
        grid-area: view-design;
    }
    
    #css-resources {
        border-top: 1px solid var(--barrier);
        grid-area: resources;
    }
    
    #faq {
        border-top: 1px solid var(--barrier);
        grid-area: faq;
        border-bottom: none;
    }
    
    #submit-design {
        border-top: 1px solid var(--barrier);
        grid-area: submit;
        border-bottom: none;
    }
    
    
    #translations {
        border-top: 1px solid var(--barrier);
        grid-area: translations;
        padding-bottom: 70px;
        border-bottom: 1px solid var(--barrier);
    }

    #authors {
        background-color: var(--author-background);
        grid-area: a;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 120px);
        grid-template-areas:
            "lohman"
            "mall"
            "knoeller"
            "walton"
            "stocks"
            "carlson"
            "meltmedia"
            "shea";
    }
    
    #lohman {
        grid-area: lohman;
    }
    
    #mall {
        border-top: 1px solid var(--barrier-light);
        grid-area: mall;
    }
    
    #knoeller {
        grid-area: knoeller;
        border-top: 1px solid var(--barrier-light);
    }
    
    #walton {
        border-top: 1px solid var(--barrier-light);
        grid-area: walton;
    }
    
    #stocks {
        border-top: 1px solid var(--barrier-light);
        grid-area: stocks;
    }
    
    #carlson {
        border-top: 1px solid var(--barrier-light);
        grid-area: carlson;
    }
    
    #meltmedia {
        border-top: 1px solid var(--barrier-light);
        grid-area: meltmedia;
    }
    
    #shea {
        border-top: 1px solid var(--barrier-light);
        grid-area: shea;
        padding-bottom: 70px;
        border-bottom: 1px solid var(--barrier-light);
    }

    .author {
        margin-top: 100px;
        padding-top: 30px;
        font-size: 22px;
    }

    .author-header {
        font-size: 24px;
        margin-bottom: 8px;
        font-family: julius;
        color: var(--author-text);
    }

    .author-name {
        font-size: 18px;
        font-family: libreBaskerville;
        color: #4d5e53;
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
/* .icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
} */