* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --deep-navy: #27374D;
    --navy: #526D82;
    --light-navy: #9DB2BF;
    --xtra-light-navy: #DDE6ED;
    --numRows: 2;
    --rowHeight: 200px;
}

@font-face {
    font-family: juliusSansOne;
    src: url(resources/juliussansone-regular-webfont.woff);
}

@font-face {
    font-family: shadowsIntoLight;
    src: url(resources/shadowsintolight-regular-webfont.woff);
}

body {
    background-color: var(--deep-navy);
}

header {
    font-family: juliusSansOne !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-navy);
    color: white;
    height: 200px;
}

.pkmn-container {
    background-color: var(--navy);
    border: 5px solid var(--deep-navy);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
}

.name {
    text-align: center;
    font-family: shadowsIntoLight;
    color: var(--xtra-light-navy)
}

.sprite {
    text-align: center;
}

img {
    transform: scale(2)
}

#title {
    text-align: center;
}