* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: red;
}

:root {
  --nav-height: "200px";
  --footer-height: "150px";
}

.navbar-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 30px;
  height: var(--nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 10px;
  align-items: center;
  background-color: rgb(138, 138, 138);
  z-index: 1000;
}

.router-wrapper {
  display: flex;
  flex-direction: column;
}

.item-title:hover {
  cursor: pointer;
  color: rgb(50, 63, 207);
}

.footer-wrapper {
  height: var(--footer-height);
  height: 10vh;
}

.link {
  width: 95%;
}
.nav-button-lettering {
  display: inline;
  height: 100%;
  font-size: 1.4rem;
}

.react-icons {
  font-size: 2.1rem;
}

.navbutton-interior-container {
  width: 60%;
  border-radius: 3px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 5px 5px 7px 5px;
  
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  width: 100%;
  border: 4px solid rgb(186, 186, 186) !important;
  background-color: rgb(186, 186, 186);
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.title {
  padding: 30px 20px 0px 20px;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  font-family: 'Overlock', cursive;
}

.under {
  padding: none;
  padding-bottom: 20px;
}

.shop-title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.9rem;
  margin: 30px 10% 0px 10%;
  font-weight: 500;
  text-align: center;
  color: white;
}

.home-text {
  padding: 0px 20px 20px 20px;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
}

.main {
  background-color: rgb(193, 193, 193);
  overflow-y: scroll;
  min-height: calc(100vh - 389px) !important;
}

.main::-webkit-scrollbar {
  display: none;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(138, 138, 138);
}

.footer-item {
  font-size: 1rem;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.categorysnapshot-pic, .item-pic {
  width: 100%;
}

.category-title {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  padding: 10px;
  font-weight: 500;
}

.bottom-para {
  margin-bottom: 20px;
}

.category-blurb {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}

.categorysnapshot-wrapper, .item-wrapper {
  width: 95%;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  overflow: hidden;
  margin: auto;
}

.item-wrapper {
  background-color: rgba(134, 220, 191, 0.846);
}

.categorysnapshot-wrapper {
  background-color: rgb(69, 167, 224);
}

.categorysnapshot-wrapper:hover {
  cursor: pointer;
}

.item-title {
  font-family: 'Barlow', sans-serif;
  padding: 5px 10px 5px 10px;
}

.price-rating-wrapper {
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.item-wrapper {
  overflow: hidden;
  border: 1px solid grey;
  font-size: 1.2rem;
}

.cart-interface-wrapper {
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  justify-content: space-between;
  font-size: 1.2rem;
}

.quantity-input {
  font-family: 'Barlow', sans-serif;
  padding: 10px;
  width: 40px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

span {
  font-family: 'Julius Sans One', sans-serif;
}

.quantity {
  margin-top: 7px;
}

.quantity-input-wrapper {
  display: flex;
}

.add-cart-button {
  font-family: 'Barlow', sans-serif;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  width: 120px;
}

.category-title-wrapper {
  text-align: center;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: cadetblue;
  position: sticky;
  position: -webkit-sticky;
  top: 239px;
  z-index: 1000;
}

.back-from-category {
  padding: 8px;
  height: 50px;
  width: 20%;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(190, 190, 190);
}

.category-title-text {
  width: 80%;
  margin: 0px 10px 0px 10px;
}

.back {
  margin-bottom: -5px;
}

.productdetails-wrapper-interior {
  background-color: rgb(187, 138, 138);
  border: 1px solid grey;
  width: 95%;
  margin: auto;
  min-height: calc(100vh - 481px);
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  overflow: hidden;
  border-radius: 8px;
}

.partition {
  background-color: rgb(193, 193, 193);
  overflow-y: scroll;
  min-height: calc(100vh - 461px);
}

.pd-title {
  padding: 10px;
  font-family: 'Barlow', 'sans-serif';
  font-size: 2rem;
}

.pd-description {
  margin: 10px 40px 30px 40px;
  font-size: 1.2rem;
  text-align: justify;
  font-family: 'Barlow', 'sans-serif';
}

.pd-price {
  margin-left: 10px;
  font-family: 'Barlow', 'sans-serif';
  font-size: 1.5rem;
  font-weight: 600;
}

.pd-rating {
  font-family: 'Barlow', 'sans-serif';
  margin: 10px 10px 10px 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.pd-input {
  margin-left: 20px;
}

.cart-initialization {
  text-align: center;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  height: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(147, 116, 190);
  top: 210px;
}

.cart-initialization-text {
  font-size: 1.1rem;
  margin-top: -5px;
}

.cart-initialization-package {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0px 20px 0px 20px;
}

.cart-initialization-input {
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Barlow', 'sans-serif';
}

.not-initialized {
  background-color: rgb(233, 233, 233);
  color: rgba(0, 0, 0, 0.502);
}

.add-user {
  padding: 8px;
  height: 90px;
  width: 20%;
  margin-left: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(190, 190, 190);
}

.user-greeting-wrapper {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 132, 223);
  top: 210px;
}

.please-initialize {
  margin: 50px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Quicksand', 'sans-serif';
}

.wrapper-not-initialized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-text-wrapper {
  font-size: 2rem;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(147, 116, 190);
}

.cart {
  height: calc(100vh - 389px);
}

.cart-text {
  width: 100%;
  text-align: center;
}

.cart-wrapper {
  padding: 0;
}

.cart-quantity {
  font-size: 1.2rem;
  padding: 10px;
}

.cart-stats-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-total-wrapper {
  height: 150px;
  background-color: rgb(76, 196, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-total-text {
  font-size: 1.5rem;
  font-family: 'Barlow', 'sans-serif';
  width: 100%;
  font-weight: 700;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.checkout-button {
  height: 80%;
  margin-right: 20px;
  width: 200px !important;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  font-family: 'Barlow', 'sans-serif';
  background-color: rgb(186, 186, 186);
}

.cart-tag {
  position: absolute;
  background-color: rgb(185, 232, 221);
  padding: 20px;
  margin: 10px 0px 0px 10px;
  box-shadow: 10px 5px 5px rgb(73, 73, 73);
  border-radius: 12px;
  font-family: 'Barlow';
  font-weight: 700;
}

.cart-quantity {
  font-family: 'Barlow';
  font-size: 1.2rem;
}

.cart-item-button-wrapper {
  height: 100px;
  display: flex;
  background-color: rgb(132, 197, 212);
  justify-content: space-between;
  align-items: center;
}

.edit-save-quantity, .delete-cart-item {
  height: 80%;
  width: 120px;
  border-radius: 8px;
  border: none;
  background-color: rgb(186, 186, 186);
  font-family: 'Barlow';
  font-size: 1.5rem;
}

.edit-save-quantity {
  margin-left: 20px;
}

.delete-cart-item {
  margin-right: 20px;
}

.go-shop-wrapper {
  height: calc(100vh - 590px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggled-input {
  padding: 5px;
  width: 40px;
  margin-left: 20px;
  font-size: 1.3rem;
}

.bordered {
  border: 4px solid black !important;
}